
    {% include conduct-modal.html %}
    {% include terms-modal.html %}

    <!-- Site Footer -->
    <footer class="site-footer bg-constellation">
        <div class="registration-form" data-animate-in="up">
            <!-- Begin MailChimp Signup Form -->
            <h4 class="h2-display text-white">Stay updated</h4>
            <div id="mc_embed_signup">
                <form action="//github.us11.list-manage.com/subscribe/post?u=9d7ced8c4bbd6c2f238673f0f&amp;id=03bf4863d9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate subscribe-form" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <div class="mc-field-group">
                        	<label for="mce-EMAIL" class="sr-only">Email Address</label>
                        	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="your email address">
                        </div>
                    	<div id="mce-responses" class="clear">
                    		<div class="response" id="mce-error-response" style="display:none"></div>
                    		<div class="response" id="mce-success-response" style="display:none"></div>
                    	</div>
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input type="text" name="b_9d7ced8c4bbd6c2f238673f0f_03bf4863d9" tabindex="-1" value="">
                        </div>
                        <div class="clear">
                            <button type="submit" name="subscribe" id="mc-embedded-subscribe">Add me!</button>
                        </div>
                    </div>
                </form>
            </div>
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
            <!--End mc_embed_signup-->
        </div>
    	<div class="container container--wide">
            <div class="site-footer__legal">
                <p>© <script>document.write(new Date().getFullYear())</script> GitHub, Inc. All Rights Reserved.</p>
                <p>Constellation™ is a registered trademark of GitHub.</p>
            </div>

            <a class="code-note" href="https://github.com/" target="_blank"><svg width="18" height="13"><use xlink:href="#shape-code"></use></svg> <span>with</span> <svg width="14" height="13"><use xlink:href="#shape-heart"></use></svg> <span>by</span> <svg width="48" height="14"><use xlink:href="#shape-github-logo"></use></svg></a>
		</div>
    </footer>
    <span class="screen"></span>
    <div class="is-hidden">
        {% include svgs.svg %}
    </div>
