
<header class="site-header">
    <div class="container-wide">
        <h1 class="logo" itemscope itemtype="http://schema.org/Organization">
            <a href="/" itemprop="url">
                <span class="sr-only" itemprop="name">{{ site.title }}</span>
                <img src="/assets/images/GitHub-Constellation-logo.svg" alt="{{ site.title }} logo" />
            </a>
        </h1>
        <div class="site-header-panel">
            <nav class="site-navigation">
                <ul class="site-navigation-list">
                    <li>
						<a href="#top">top</a>
					</li>
					<li>
						<a href="#day-1">Day 1: Explore</a>
					</li>
					<li>
						<a href="#day-2">Day 2: Align</a>
					</li>
					<li>
						<a href="#schedule">Schedule</a>
					</li>
					<li>
						<a href="#FAQ">FAQ</a>
					</li>
                </ul>
            </nav>
        </div>

        <div class="site-header-cta">
            <a class="btn btn--dark" href="">get your ticket</a>
        </div>
    </div>
</header>
